{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Exhorto{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Exhorto ' + exh_exhorto.exhorto_origen_id) %}
        {{ topbar.button_previous('Exhortos', url_for('exh_exhortos.list_active')) }}
        {% if current_user.can_edit('EXH EXHORTOS') %}
            {{ topbar.button_edit('Editar', url_for('exh_exhortos.edit', exh_exhorto_id=exh_exhorto.id)) }}
        {% endif %}
        {% if current_user.can_admin('EXH EXHORTOS') %}
            {% if exh_exhorto.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('exh_exhortos.delete', exh_exhorto_id=exh_exhorto.id)) }}{% endif %}
            {% if exh_exhorto.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('exh_exhortos.recover', exh_exhorto_id=exh_exhorto.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=exh_exhorto.estatus) %}
        <div class="row">
            <div class="col-md-6">
                {{ detail.label_value('Exhorto Origen ID', exh_exhorto.exhorto_origen_id) }}
                {% if current_user.can_view('MUNICIPIOS') %}
                    {{ detail.label_value('Municipio Origen', exh_exhorto.municipio_origen.nombre + ', ' + exh_exhorto.municipio_origen.estado.nombre, url_for('municipios.detail', municipio_id=exh_exhorto.municipio_origen_id)) }}
                {% else %}
                    {{ detail.label_value('Municipio Origen', exh_exhorto.municipio_origen.nombre + ', ' + exh_exhorto.municipio_origen.estado.nombre) }}
                {% endif %}
                {{ detail.label_value('Juzgado Origen ID', exh_exhorto.juzgado_origen_id) }}
                {{ detail.label_value('Juzgado Origen', exh_exhorto.juzgado_origen_nombre) }}
                {{ detail.label_value('No. Expediente', exh_exhorto.numero_expediente_origen) }}
                {{ detail.label_value('No. Oficio', exh_exhorto.numero_oficio_origen) }}
                {{ detail.label_value('Tipo de Juicio', exh_exhorto.tipo_juicio_asunto_delitos) }}
                {{ detail.label_value('Juez Exhortante', exh_exhorto.juez_exhortante) }}
                {{ detail.label_value('Fojas', exh_exhorto.fojas) }}
                {{ detail.label_value('Días en responder', exh_exhorto.dias_responder) }}
                {{ detail.label_value('Tipo de diligenciación', exh_exhorto.tipo_diligenciacion_nombre) }}
                {{ detail.label_value('Fecha de origen', exh_exhorto.fecha_origen) }}
                {{ detail.label_value('Observaciones', exh_exhorto.observaciones) }}
            </div>
            <div class="col-md-6">
                {{ detail.label_value('Folio Seguimiento', exh_exhorto.folio_seguimiento) }}
                {{ detail.label_value('Materia', exh_exhorto.materia.nombre, url_for('materias.detail', materia_id=exh_exhorto.materia_id)) }}
                {% if municipio_destino %}
                    {% if current_user.can_view('MUNICIPIOS') %}
                        {{ detail.label_value('Municipio Destino', municipio_destino.nombre + ', ' + municipio_destino.estado.nombre, url_for('municipios.detail', municipio_id=municipio_destino.id)) }}
                    {% else %}
                        {{ detail.label_value('Municipio Destino', municipio_destino.nombre + ', ' + municipio_destino.estado.nombre) }}
                    {% endif %}
                {% else %}
                    {{ detail.label_value('Municipio Destino', 'NO DEFINIDO') }}
                {% endif %}
                {{ detail.label_value('Área', exh_exhorto.exh_area.clave + ' - ' + exh_exhorto.exh_area.nombre) }}
                {{ detail.label_value('Remitente', exh_exhorto.remitente) }}
                {{ detail.label_value('Autoridad', exh_exhorto.autoridad.clave + ' - ' + exh_exhorto.autoridad.descripcion_corta) }}
                {{ detail.label_value('Número de Exhorto', exh_exhorto.numero_exhorto) }}
                {{ detail.label_value_big('Estado', exh_exhorto.estado) }}
            </div>
        </div>
        {# detail.label_value('ID', exh_exhorto.id) #}
        {# detail.label_value('Creado', moment(exh_exhorto.creado, local=True).format('DD MMM YYYY')) #}
    {% endcall %}
    <!-- Tabla de Partes -->
    {% call detail.card("Partes") %}
        <table id="exh_exhortos_partes_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Género</th>
                    <th>Es Persona Moral</th>
                    <th>Tipo Parte</th>
                    <th>Tipo Parte Nombre</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
    <!-- Tabla de Archivos -->
    {% call detail.card("Archivos") %}
        <table id="exh_exhortos_archivos_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre Archivo</th>
                    <th>Tipo Documento</th>
                    <th>Estado</th>
                    <th>Recepción</th>
                    <th>Tamaño</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('EXH EXHORTOS') %}
        {% if exh_exhorto.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar el exhorto <strong>' + exh_exhorto.exhorto_origen_id + '</strong>?') }}{% endif %}
        {% if exh_exhorto.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar el exhorto <strong>' + exh_exhorto.exhorto_origen_id + '</strong>?') }}{% endif %}
    {% endif %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
    </script>
    <!-- Tabla de Partes -->
    <script>
        // DataTable Partes
        let configDTPartes = constructorDataTable.config();
        configDTPartes['ajax']['url'] = '/exh_exhortos_partes/datatable_json';
        configDTPartes['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
        configDTPartes['columns'] = [
            { data: 'nombre' },
            { data: 'apellido_paterno' },
            { data: 'apellido_materno' },
            { data: 'genero' },
            { data: 'es_persona_moral' },
            { data: 'tipo_parte' },
            { data: 'tipo_parte_nombre' }
        ];
        // Filtros Exhortos Partes
        const filtrosPartes = new FiltrosDataTable('#exh_exhortos_partes_datatable', configDTPartes);
        filtrosPartes.precargar();
    </script>
    <!-- Tabla de Archivos -->
    <script>
        // DataTable Archivos
        let configDTArchivos = constructorDataTable.config();
        configDTArchivos['ajax']['url'] = '/exh_exhortos_archivos/datatable_json';
        configDTArchivos['ajax']['data'] = {'estatus':'A', 'exh_exhorto_id':{{exh_exhorto.id}}};
        configDTArchivos['columns'] = [
            { data: 'vinculo' },
            { data: 'tipo_documento_nombre' },
            { data: 'estado' },
            { data: 'fecha_hora_recepcion' },
            { data: 'tamano' }
        ];
        configDTArchivos['columnDefs'] = [
            {
                targets: 0, // vinculo
                data: null,
                render: function(data, type, row, meta) {
                    if (data.url != '') {
                        return '<a href="' + data.url + '">' + data.nombre_archivo + '</a>';
                    } else {
                        return data.nombre_archivo;
                    }
                }
            }
        ];
        // Filtros Exhortos Archivos
        const filtrosArchivos = new FiltrosDataTable('#exh_exhortos_archivos_datatable', configDTArchivos);
        filtrosArchivos.precargar();
    </script>
    {{ detail.moment_js(moment) }}
{% endblock %}
